---
import '~/styles/index.css'
import '~/styles/heti.min.css'
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'

interface Props {
  title?: string
  desc?: string
}

const { title: propsTitle, desc: propsDesc } = Astro.props
const {
  config: {
    title: configTitle,
    desc: configDesc,
  }
} = Astro.locals

const title = propsTitle ?? configTitle ?? ''
const desc = propsDesc ?? configDesc ?? ''
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <SEO
      charset="utf-8"
      title={title}
      description={desc}
    />
  </head>
  <body>
    <slot />
  </body>
</html>